/*New Styles*/

body{
	color: #404040;
	font-family: 'Open Sans', sans-serif;
}

.o_main_navbar > .o_menu_brand{
	font-weight: bold;
}

/*Header*/
.o_main_navbar{
	background-color: #fff; 
	border-bottom: 1px solid #eaeaea;
}
.o_main_navbar > .o_menu_brand,
.o_main_navbar > ul > li > a, .o_main_navbar > ul > li > label,
.mk_apps_sidebar_panel .mk_apps_sidebar .mk_apps_sidebar_menu > li > a{
	color: #404040 !important;
}

/*Body*/

.o_web_client{
	background-color: #fff;
}
.o_main_navbar .show .dropdown-toggle{
	background-color: #e8f4fe !important;
}

.o_notification_manager .o_notification.o_error{
	background: #f5b829 !important;
}
.o_field_invalid.o_input, .o_field_invalid .o_input, .o_field_invalid.o_form_label{
	color: #f5b829 !important;
}
.o_notification_manager .o_notification{
	-webkit-box-shadow: 0px 0px 20px 2px rgba(76,76,76,0.21) !important;
	-moz-box-shadow: 0px 0px 20px 2px rgba(76,76,76,0.21) !important; 
	box-shadow: 0px 0px 20px 2px rgba(76,76,76,0.21) !important;
}
.o_searchview .o_searchview_input_container .o_searchview_facet .o_facet_values{
	padding-top: 5px !important;
}
.show .dropdown-menu .dropdown-header{
	color: #868686 !important;
}


/*Nav Bar*/
.simplebar-content{
	background-color: #fff;
	border-right: 1px solid #eaeaea;
}
.o_mail_discuss .o_mail_discuss_sidebar{
	background-color: #efefef;
}
.o_mail_discuss .o_mail_discuss_sidebar{
	background-color: #404040;
}
.o_mail_discuss .o_mail_discuss_sidebar .o_mail_discuss_item:hover,
.o_mail_discuss .o_mail_discuss_sidebar .o_mail_discuss_item.o_active{
	background-color: #5c5c5c;
}

/*Input Buttons*/
input, select, .o_searchview{
	border: 1px solid #f2f2f2 !important;
	-webkit-border-radius: 4px !important;
	border-radius: 4px !important;
}
.o_searchview_input{
	border: none !important;
}
.btn-group .o_dropdown{
	margin-right: 8px;
}
.btn-group .o_dropdown button{
	border: none;
	background: #f8f8f8;
	padding-right: 10px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.dropdown-toggle::after{
	margin-left: 1em;
}
.o_mail_systray_item .o_notification_counter{
	background-color: #f5b829;
}
.o_searchview .o_searchview_facet{
	border: 1px solid #e3aa25;
    background-color: #fff;
    -webkit-border-radius: 2px;
	border-radius: 2px;
}
.o_searchview .o_searchview_facet .o_searchview_facet_label{
	background-color: #e3aa25;
}
.o_control_panel > .o_cp_right > .o_cp_switch_buttons > .btn{
	border: none;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	
}

.o_control_panel{
	border-bottom: 1px solid #eaeaea !important;
}

/*Dropdown*/
.dropdown-menu{
	padding: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #404040;
}
.dropdown-item-text{
	padding: 4px 0 !important; 
}
.fa-plus:before,
.dropdown-item-text,
.show .dropdown-menu .dropdown-item{
	color: #c4c4c4 !important;
}
.show .dropdown-menu .dropdown-item{
	padding: 6px 20px 3px 20px !important;
}
.dropdown-item .o_add_custom_filter .o_closed_menu{
	background-color: #5c5c5c;
}
.dropdown-divider,
.o_mail_discuss .o_mail_discuss_sidebar > hr{
	border-top: 1px solid #3b3b3b;
}
.o_menu_item:hover,
.dropdown-item:hover,
.show .dropdown-menu .dropdown-item:hover{
	-webkit-border-radius: 3px !important;
	border-radius: 3px !important;
	color: #fff !important;
	background-color: #5c5c5c !important;
}
.dropdown-item-text{
	padding: 0.25rem 0;
}
.o_searchview .o_searchview_input_container .o_searchview_facet{
	margin: 1px 8px 0 0;
}
.o_searchview_extended_prop_field{
	width: 80%;
}
.o_filters_menu .o_searchview_extended_delete_prop{
	top: 9px;
	right: 15px;
}
button.dropdown-item.o_add_custom_filter.o_closed_menu{
	background-color: #4e4e4e;
	border: 1px solid #5c5c5c;
}
.o_filters_menu .o_searchview_extended_prop_op{
	margin: 4px 0;
}

/*Color Icons*/
.fa-search:before,
.fa-search-plus:before{
	color: #c5c5c5;
}
.fa-th-large:before, .fa-list-ul:before,
.fa-times:before, .fa-search-minus:before,
.fa-star:before, .fa-navicon:before,
.fa-reorder:before, .fa-bars:before,
.fa-filter:before{
	color: #404040;
}
.fa-clock-o:before, .fa-remove:before, .fa-close:before, .fa-times:before, .bootstrap-datetimepicker-widget .fa-calendar:before {
    color: #fff;
}
.bootstrap-datetimepicker-widget table td span:hover {
    background: inherit;
}
.o_mail_systray_item.o_no_notification > a{
	opacity: 1;
}

.btn-primary{
	background-color: #5abe2b !important;
	border:none;
	border-radius: 4px;
}
.btn-info{
	color: #fff;
	background-color: #f5b829 !important;
	border:none;
	border-radius: 4px;

}

.o_kanban_view.o_kanban_ungrouped .o_kanban_record:hover{
	background-color: #e8f4fe !important;
	border: 1px solid #cee8ff;
}

button.btn.btn-secondary.o_mail_discuss_button_unstar_all.disabled,
button.btn.btn-secondary.o_mail_discuss_button_mark_all_read.disabled.d-none.d-md-inline-block{
	background-color: #e8e8e8;
	color: #868686;
	border-radius: 4px;

}

.btn-secondary{
	border-color: #e8e8e8;
	border-radius: 4px;
}



.o_mail_discuss .o_mail_discuss_sidebar .o_mail_sidebar_title h4,
.o_mail_discuss .o_mail_discuss_sidebar .o_mail_sidebar_title .o_mail_open_channels:hover{
	color: #868686;
}

.o_mail_discuss .o_mail_discuss_sidebar .o_mail_discuss_item.o_active{
	box-shadow: inset 3px 0 0 #ff494e;
}

/*Menu apps*/
.o_menu_apps .dropdown-menu.show {
    background: #fff;
    background-image: none !important;
}

.o_calendar_buttons button:nth-child(3){
	margin-right: 10px;
}
.o_menu_apps .dropdown-menu.show .o_app.active .o-app-icon{
	box-shadow: none !important;

}
/*Empleados*/

.o_kanban_view.o_kanban_ungrouped .o_kanban_record{
	border: 1px solid #e8e8e8;
	border-radius: 6px;
	margin: 8px;
}

.o_kanban_view .o_kanban_record.o_kanban_record_has_image_fill .o_kanban_image_fill_left{

margin: 1px;

}

.o_kanban_view .o_kanban_record.o_kanban_record_has_image_fill .o_kanban_image + div{
	margin-left: 8px;
}

/*calendar*/


.o_calendar_container{
	padding-top: 16px;
}

.o_calendar_container .o_calendar_view .o_calendar_widget{
	border-color: #e8e8e8;
}

.o_notebook a.nav-link:hover{
	border-color: #d8eaf9;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
	background-color: #fff !important;
}

li.nav-item:hover,
a.nav-link:hover{
	background-color: #e8f4fe !important;
}

.o_menu_brand:hover,
a.menu-link:hover{
	background-color: #e8f4fe !important;
}

.o_main_navbar > ul > li > a:hover,
a.menu-link:hover{
	background-color: #e8f4fe !important;
}

/*Table*/

.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td{
	border-color: #e8e8e8 !important;

}

.o_calendar_container .o_calendar_view .o_calendar_widget .fc-week-number, .o_calendar_container .o_calendar_view .o_calendar_widget .fc-widget-header {
	background-color: #f8f8f8;
}

th.fc-widget-header{
	padding-top: 4px !important;
}

.fc .fc-axis{
	background-color: #f8f8f8;
	text-align: center !important;
	padding: 4px 12px 0 12px !important;
}

.fc-unthemed .fc-today{
	background: #f5f5f5 !important;
}
.fc-time-grid .fc-slats td{
	height: 1.5em;
	padding-top: 4px;
}

/*Checkbox*/
.dropdown-toggle::after{
	vertical-align: 2px;
}
.custom-control-label::after{
	top: 0.02rem;
    left: -1.8rem;
    display: block;
    width: 18px;
    height: 18px;
}
.custom-checkbox .custom-control-label::after {
    top: 0.2rem;
    left: -1.7rem;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{
	background-color: #e6e5e5;
}
.custom-control-label{
	padding-left: 7px;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before,
.custom-control.custom-checkbox .custom-control-input:not(:checked):not(:indeterminate) ~ .custom-control-label:before{
	border: 1px solid #e8e8e8;
	border-radius: 2px;
	outline: none;
    width: 16px;
    height: 16px;
}

.o_calendar_container .o_calendar_sidebar_container .o_calendar_filter .o_field_many2one{
	height: 30px;
	margin-top: 10px;
}
.o_field_widget .o_input_dropdown .o_dropdown_button{
	top: 6px;
	right: 10px;
}

/*Table Nonima*/
.table-striped > tbody > tr:nth-of-type(2n+1){
	background-color: #f8f8f8;
}
.table-striped > tbody > tr:hover{
	background-color: #e8f4fe !important;
}

.o_thread_window .o_thread_window_header{
	background-color: #404040;
}

/*View Menu*/
.o_menu_apps .dropdown-menu.show{
	padding-left: 14vw;
	padding-right: 14vw;
}
.o_menu_apps .dropdown-menu.show .o_app{
	width: 240px;
    margin: 0%;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    border: 1px solid #e8e8e8;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    
}
.o_menu_apps .dropdown-menu.show .o-app-icon{
	width: auto;
	height: 62px;
    margin: 30px 0;
}
.o_menu_apps .dropdown-menu.show .o-app-name{
	width: 100%;
	color: #868686;
    padding: 12px 0;
    text-align: center;
    background-color: #f8f8f8;
    border-top: 1px solid #e8e8e8;
}
.o_menu_apps .show .dropdown-menu .dropdown-item:hover{
	background-color: transparent !important;
	border: 1px solid #d2e9fc !important;
}
.o_menu_apps .show .dropdown-menu .dropdown-item:hover span{
	background-color: #e8f4fe !important;
	border-top: 1px solid #d2e9fc !important;
}
.o_menu_apps .show .dropdown-menu .dropdown-item:hover img{
	box-shadow: none !important;
}

.mk_search_input{
	width: 510px;
	max-width: 510px;
	flex: none;
	margin: 0 !important;
	padding: 0 !important;
	margin-left: 2px !important;
}

.input-group-text{
	background-color: transparent;
	border: 1px solid #f2f2f2 !important;
	border-right: none !important;
	border-radius: 4px 0 0 4px;
}

.mk_search_container input{
	border-left: none !important;
	border-radius: 0 4px 4px 0 !important;
	padding: 0.375rem 0.3rem;
}

/**/
.o_form_view .o_form_sheet_bg > .o_form_sheet{
	border: none;
}
.o_form_view .o_form_statusbar{
	border-bottom: 1px solid #eaeaea;
}
.o_form_view .o_form_sheet_bg{
	background-color: #fff;
}
.o_required_modifier.o_input, .o_required_modifier .o_input{
	padding-left: 12px;
    border: none !important;
	background-color: #f8f8f8 !important;
}
.o_required_modifier .o_dropdown_button,
.o_field_many2one .o_dropdown_button{
	top: 3px !important;
	right: 5px !important;
}
.o_input{
	color: #404040;
	border: 1px solid #eaeaea;
}

.ui-autocomplete{
	padding: 5px 5px;
	background-color: #404040;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.ui-autocomplete .ui-menu-item > a{
	color: #868686;
}
.ui-autocomplete .ui-menu-item.o_m2o_dropdown_option > a{
	color: #fff;
}
.ui-state-focus {
	-webkit-border-radius: 3px !important;
	border-radius: 3px !important;
	background-color: #5c5c5c !important;
}
.ui-autocomplete .ui-menu-item > a:hover,
.ui-autocomplete .ui-menu-item.o_m2o_dropdown_option > a:hover{
	-webkit-border-radius: 3px !important;
	border-radius: 3px !important;
	color: #fff !important;
	background-color: #5c5c5c !important;
}
/* .datetimepicker-input,
.o_form_view .o_group .o_field_widget{
	height: 25px;
} */

.o_form_view .oe_button_box .oe_stat_button{
	background-color: #e8f4fe;
	border-color: transparent;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
	width: 120px !important;
	margin: 1px;
}
.btn.oe_stat_button:hover{
	border-color: transparent;
	background-color: #e8f4fe !important;
}

.nav-tabs{
	border-bottom: 1px solid #d8eaf9;
}

.nav-tabs .nav-link{
	color: #868686;
	background-color: #d8eaf9;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.nav-tabs .nav-item{
	margin-right: 2px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
	border-color: #d8eaf9;
	background-color: #fff;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	color: #404040;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link:hover{

}

.o_field_widget.o_field_text{
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.o_form_view .o_horizontal_separator{
	color: #2c2c2c;
}

.datepicker .table-sm > tbody > tr > td.active, .datepicker .table-sm > tbody > tr > td .active{
	background-color: #f5b829; 
}

.datepicker .table-sm > thead > tr:last-child{
	background-color: #404040;
}

.table thead th{
	border-top: none;border-bottom: none;
}

.table th, .table td{
	border-bottom: none;
}

.bootstrap-datetimepicker-widget table td.old, .bootstrap-datetimepicker-widget table td.new{
	color: #585858;
}

.table th, .table td{
	border:none;
}

.dropdown-menu{
	color: #868686;
}

.bootstrap-datetimepicker-widget table td.cw{
	color: #585858;

}

.datepicker .table-sm > tbody > tr > td.today:before{
	border-bottom-color: #f5b829;
}

.datepicker .table-sm > thead{
	height: 40px !important;
	background-color:#2c2c2c;

}

.dropdown-menu{
	padding: 0 !important;
}
.bootstrap-datetimepicker-widget.dropdown-menu{

}

.bootstrap-datetimepicker-widget table td{
	width:auto;
}
.bootstrap-datetimepicker-widget table td.day:hover{
	border-radius:50%;
	height: 22px; width: 22px !important;
	background-color: #f5b829;
	color: #fff !important;
}

.bootstrap-datetimepicker-widget table thead tr:first-child th{
	padding: 11px 0px 9px 0px !important;
}

.o_list_view tfoot{
	background-color: #e4e4e4
} 

.o_list_view.table, .o_list_view.table thead, .o_list_view.table tfoot, .o_list_view.table td, .o_list_view.table th{
	text-align: left !important;
}

#o_employee_main .o_field_widget.o_field_many2manytags {
	margin-left: 10px !important;
}
.o_field_widget.o_field_many2manytags .o_field_widget {
	height: auto;
}

#o_employee_right .o_org_chart_entry.o_org_chart_entry_self .o_media_object{
	border:2px solid #f5b829;
}

.btn-link{
	color: #41a3f3;
}

#o_employee_right .o_org_chart_entry.o_org_chart_entry_manager .media-body > a .o_media_heading, #o_employee_right .o_org_chart_entry.o_org_chart_entry_sub .media-body > a .o_media_heading{
	color: #868686;
}

#o_employee_right .o_org_chart_entry .media-body strong{
	color: #868686;
}

.o_mail_thread .o_thread_message.o_mail_not_discussion, .o_mail_activity .o_thread_message.o_mail_not_discussion{
	margin-bottom: 5px;
	border-radius: 4px;
	border-bottom: none;
}

.o_attachment .o_attachment_wrap{
	border-bottom: none;
}

.o_form_view .o_form_uri:first-line,
#o_employee_right .o_org_chart_entry.o_org_chart_entry_sub .media-body > a .o_media_heading:hover,
#o_employee_right .o_org_chart_entry:hover a .o_media_heading{
	color: #41a3f3 !important;
}

#o_employee_right .o_org_chart_entry:hover .rounded-circle{
    box-shadow: 0 0 0 1px #41a3f3 !important;
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled{
	background-color: #e9ecef !important;
}
.o_calendar_container .o_calendar_sidebar_container .ui-datepicker table .ui-state-active{
	background-color: #f5b829;
}
.o_calendar_container .o_calendar_sidebar_container .ui-datepicker table .ui-state-default{
	color: #404040;
}
.o_calendar_container .o_calendar_sidebar_container .ui-datepicker table .ui-state-default:hover{
	background-color: #e6e5e5;
	color: #404040;
}


/*Styles second bar*/
.o_mail_discuss .o_mail_discuss_sidebar{
	background-color: #f8f8f8 !important;
}
.o_mail_discuss .o_mail_discuss_sidebar .o_mail_sidebar_title h4{
	color: #404040 !important;
}
.o_mail_discuss .o_mail_discuss_sidebar{
	color: #868686 !important;
}
.o_mail_discuss .o_mail_discuss_sidebar .o_mail_discuss_item.o_active{
	color: #404040 !important;
	font-weight: 600 !important;
	background-color: #e8f4fe !important;
}
.o_mail_discuss .o_mail_discuss_sidebar .o_mail_discuss_item:hover,
.o_mail_discuss .o_mail_discuss_sidebar .o_mail_discuss_item.o_mail_discuss_title_main:hover{
	background-color: #e8f4fe !important;
}
.o_mail_discuss .o_mail_discuss_sidebar .o_mail_discuss_item.o_active{
	box-shadow: inset 3px 0 0 #ff494e !important;
}

.table-responsive{
	overflow: inherit;
}
.o_group{
	margin-top: 50px !important;
}

@media (min-width: 1023px){
	
	#o_employee_container {
        display: flex;
        width: 100%;
	}
	#o_employee_main {
        flex: 1 1 60%;
    }
	#o_employee_right {
		flex: 0 1 35%;
		margin-left: 2%;
		padding-left: 2%;
		border-left: 1px solid #f0eeee;
	}
}


@media (max-width: 1600px) {
	.mk_chatter_position_sided .o_form_view:not(.o_form_nosheet){
		display: block;
	}
	.o_form_view .oe_chatter{
		max-width: 100% !important;
		min-width: 100% !important;
		border-left: none !important;
	}
}
@media (max-width: 991.98px){
	.o_form_view .o_group .o_group_col_6 {
		width: 100%;
	}
}


.o_mail_discuss .o_mail_discuss_sidebar .o_mail_discuss_item.o_unread_message {
	color: #868686;
}

.o_chatter .o_chatter_topbar > .o_topbar_right_area .o_chatter_button_attachment {
    margin-right: 10px;
}
.o_followers .o_followers_title_box {
    margin-left: 10px;
}
.o_form_view .o_form_sheet_bg .o_notebook .nav-tabs {
    flex-flow: wrap;
}