@media print {
    .js_stepform {
        font-size: 13px;
    }
    .js_stepform textarea.form-control {
        height: 10em;
    }
    .js_stepform h1 {
        font-size: 28px;
    }
    .js_stepform h2 {
        font-size: 20px;
    }
    .js_question-wrapper {
        page-break-inside: avoid;
    }
}
